################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InspiraProject
/SubmissionsProcessor.API.Tests/bin/Debug/net8.0
/SubmissionsProcessor.API.Tests/obj
/.vs
